* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
    z-index: 1;
    
}

.toggle-btn {
    width: 20px;
    height: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: #979797;
}

.toggle-btn span:nth-child(1) {
    top: 0;
}

.toggle-btn span:nth-child(3) {
    top: 100%;
}

.logo {
    height: 60px;
    margin: -10px 30px 0;
    margin-bottom: -10px;
}

.search-box {
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
}

.search-bar {
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}

.search-btn {
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
    cursor: pointer;
}

.search-btn img {
    height: 100%;
    cursor: pointer;
}

.user-options {
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.user-options .icon {
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
}




.side-bar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 15%;
    height: calc(100vh - 60px);
    background: #fff;
    padding-right: 10px;
    z-index: 1;
}

.links {
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links img {
    height: 25px;
    margin-right: 20px;
}








.container {
    width: 85%;
    float: right;
}

.video-container {
    margin-top: 120px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 20px 5px;
    overflow-x: hidden;
}

.video {
    min-height: 250px;
    height: auto;
}

.content {
    width: 100%;
    height: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}



.title {
    width: 100%;
    height: 40px;
    overflow: hidden;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow-x: hidden;
}

#logo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;

}

#logo {
    width: 40px;
    height: 40px;
    animation: spin 3s infinite linear;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#videos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.video-block {
    width: 45%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 40px;
    display: block;
    position: relative;
    z-index: 0;
}

@media (max-width: 768px) {
    .video-block {
        width: 100%;
    }
}


/*  */
.buttons {
    padding-bottom: 20px;
    cursor: pointer;
}

.buttons {
    display: block;
    width: fit-content;
    margin: 20px auto;
    cursor: pointer;
}

.buttons button {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.video-block h5 {
    padding: 10px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 95%;
    width: fit-content;
}

.video-block button {
    position: absolute;
    right: 14px;
    bottom: 10px;
    width: 47px;
    cursor: pointer;
}




@media screen and (max-width: 1200px) {
    h1 {
       font-size: 46px;
    }
    .video-block {
       width: 75%;
   }
   .side-bar {
    width: 15%;
    
   }
   }
   
   @media screen and (max-width: 998px) {
       h1 {
           font-size: 36px;
        }  
        .video-block {
           width: 60%;
       }
       .side-bar {
        width: 15%;
        
       }

   }
   
   @media screen and (max-width: 768px) {
       h1 {
           font-size: 28px;
        }
        .video-block {
           width: 40%;
           margin-left: 35px;
       }
       .side-bar {
        width: 20%;
        
       }

   } 
   
   @media screen and (max-width: 576px) {
       h1 {
           font-size: 16px;
        }
        .video-block {
           width: 70%;
           margin-left: 30px;
       }

       .side-bar {
        width: 30%;
        
       }
   }
   @media screen and (max-width: 420px) {
h1 {
        font-size: 15px;
     }
     .video-block {
        width: 70%;
        margin-left: 70px;
    }
       .video-block button {
    width: 21%;
        margin-bottom: 13.5px;
        left: 90px;
       }
           .side-bar {
     width: 33%;
     
    }

       .logo {
    height: 40px;
    margin: -10px 30px 0;
    margin-bottom: -10px;
}
}


body {
    overflow: hidden;
 
  }
  
